* {
  color: var(--white);
  font-family: var(--titillium);
  background-color: var(--background-solid);
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.display-grid {
  padding-bottom: 24px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 812px;
  max-height: 100vh;
  max-width: 100vw;
}

.header {
  width: 375px;
  max-width: 100%;
  height: 56px;
}

.arrow {
  width: 6px;
  height: 10px;
  margin-left: 32px;
  cursor: pointer;
}

.authentication-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 90px;
  width: 311px;
  margin: 32px 0px;
}

.authentication-label {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--white60);
}

.authentication-inputs {
  display: flex;
  gap: 8px;
}

.authentication-input {
  font-size: 0.875rem;
  height: 50px;
  width: 221px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding-left: 16px;
}

.authentication-input.sm {
  height: 50px;
  width: 82px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.authentication-button {
  display: flex;
  justify-content: center;
}

.authentication-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 16px;
  filter: invert(1);
}

.authentication-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 576px) {
  .header {
    width: 400px;
  }
  .authentication-input {
    width: 215px;
  }
  
  .authentication-input.sm {
    width: 80px;
  }

}

@media screen and (min-width: 768px) {
  .header {
    width: 475px;
  }

  .description {
    width: 350px;
  }

  .authentication-input {
    width: 305px;
  }
  
  .authentication-input.sm {
    width: 90px;
  }

}

@media screen and (min-width: 992px) {
  .header {
    width: 570px;
  }

  .description {
    width: 450px;
    font-size: 1.125rem;
  }

  .authentication-step {
    width: 250px;
  }

  .authentication-input {
    width: 375px;
  }
  
  .authentication-input.sm {
    width: 120px;
  }

}

@media screen and (min-width: 1200px) {
  .header {
    width: 600px;
  }

  .description {
    height: 100px;
    width: 475px;
    font-size: 1.125rem;
  }

  .authentication-step {
    width: 270px;
  }

  .authentication-input {
    width: 404px;
  }
  
  .authentication-input.sm {
    width: 130px;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    width: 660px;
  }

  .description {
    width: 500px;
    font-size: 1.125rem;
  }

  .authentication-step {
    width: 300px;
  }

  .authentication-input {
    width: 444px;
  }
  
  .authentication-input.sm {
    width: 140px;
  }
}