* {
    color: var(--white);
    font-family: var(--titillium);
    background-color: var(--background-solid);
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 812px;
}

.header {
    width: 375px;
    height: 56px;
    margin-top: 30px;
}

.arrow {
    width: 30px;
    height: 30px;
    margin-left: -10px;
}

.authentication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 90px;
    width: 311px;
    margin: 30px 0 20px 0;
}

.authentication-content > pre {
    margin-bottom: 30px;
}

.authentication-label {
    font-size: .75rem;
    font-weight: 400;
    color: var(--white60);
    padding-bottom: 8px;
}

.authentication-input {
    font-size: .875rem;
    height: 50px;
    width: 221px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 6%;
    padding-left: 10px;
}

.authentication-input__sm {
    height: 50px;
    width: 82px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding-left: 10px;
}

.authentication-button {
    margin-top: 290px;
}