.btn {
    width: 311px;
    padding: 8px;
    border: none;
    border-radius: 99px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    max-height: 100vh;
    max-width: 100%;
}

.btn.grey {
    background-color: var(--buttongrey);
}

.btn.green {
    background-color: var(--lightgreen);
}

.btn:hover {
    filter: brightness(1.1);
}

@media screen and (min-width: 576px) {
    .btn {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    .btn {
        width: 411px;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 992px) {
    .btn {
        width: 511px;
    }
}

@media screen and (min-width: 1200px) {
    .btn {
        width: 550px;
    }
}

@media screen and (min-width: 1400px) {
    .btn {
        width: 600px;
    }
}

@media screen and (min-width: 2100px) {
    .btn {
        width: 611px;
        font-size: 30px;
    }
}