* {
    color: var(--white);
    font-family: var(--titillium);
    background-color: var(--background-solid);
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98vh;
}

.display-grid {
    padding-bottom: 24px; 
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-direction: column;
    height: 812px;
    max-height: 100vh;
    max-width: 100vw;
    align-items: center;
}

.header {
    width: 375px;
    max-width: 100%;
    max-width: 100%;
}

.close-icon {
    width: 12.73px;
    height: 12.73px;
    margin-left: 32px;
    cursor: pointer;
}

.create-account__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps {
    margin: 32px 0;
}

.create-account__content > h2 {
    font-size: 1.625rem;
    margin: 0 0 24px 0;
}

.create-account_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.create-account__label {
    font-size: .75rem;
    font-weight: 400;
    color: var(--white60);
    padding-bottom: 5px;
}

.create-account__input {
    font-size: .875rem;
    height: 50px;
    width: 311px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.create-account__button {
    display: flex;
    justify-content: center;
}


/* #toggle-password {
    position: relative;
    top: -50px;
    right: -278px;
} */

@media screen and (min-width: 576px) {
    .header {
        width: 400px;
        max-width: 100%;
        max-width: 100%;
    }
    
    .create-account__input {
        font-size: .875rem;
        height: 50px;
        width: 350px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        margin-bottom: 15px;
        padding-left: 10px;
    }

}

@media screen and (min-width: 768px) {
    .header {
        width: 475px;
        max-width: 100%;
        max-width: 100%;
    }
    
    .create-account__input {
        font-size: .875rem;
        height: 50px;
        width: 400px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    .header {
        width: 580px;
    }

    .steps {
        margin: 32px 0;
        width: 250px;
    }
    
    .create-account__input {
        font-size: .875rem;
        height: 50px;
        width: 500px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        width: 600px;
    }

    .steps {
        margin: 32px 0;
        width: 270px;
    }
    
    .create-account__input {
        font-size: .875rem;
        height: 50px;
        width: 550px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1400px) {
    .header {
        width: 650px;
        max-width: 100%;
        max-width: 100%;
    }

    .steps {
        margin: 32px 0;
        width: 300px;
    }
    
    .create-account__input {
        font-size: .875rem;
        height: 50px;
        width: 600px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
}