* {
  color: var(--white);
  font-family: var(--titillium);
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  padding: 32px 16px 24px 16px;
}

.header {
  width: 375px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 700;
}

.header-title {
  font-size: 26px;
}

.posts {
  height: 700px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.fa-plus {
  width: 24px;
  height: 24px;
}

.post-nft {
  width: 343px;
  height: 314px;
  background: #12141a;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.post-nft > p {
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
}

.green {
  color: #04c88f;
  font-weight: 700;
}

.description-container {
  width: 311px;
  height: 36px;
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 122px;
  height: 30px;
  padding-left: 10px;
}

.likes {
  height: 22px;
  width: 137px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;
}

.num {
  padding: 4px 8px 4px 8px;
  border-radius: 99px;
  background: #f1ad3933;
  font-size: 12px;
  color: #f1ad39;
}

.circle {
  color: #f1ad39;
}

.fa-ellipsis-v {
  width: 22px;
  height: 22px;
  text-align: center;
}

.profile {
  width: 36px;
  height: 36px;
}

.description > h3 {
  font-size: 0.875rem;
  font-weight: 700;
}

.description > p {
  font-size: 0.625rem;
  font-weight: 700;
  color: #c2ccc999;
}

.post-purchase {
  height: 184px;
  background: #12141a;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.purchase-container {
  width: 311px;
  height: 36px;
  display: flex;
  align-items: center;
}

.post-purchase > p {
  text-align: start;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 311px;
  height: 70px;
  border: 1px solid #686e7b33;
  border-radius: 16px;
}

.eth {
  width: 38px;
  height: 38px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 38px;
  width: 185px;
}

.convertion {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75rem;
  font-weight: 700;
  padding-right: 30px;
}

.convertion > p {
  color: #f0f5f399;
}

.content > p {
  font-weight: 700;
  font-size: 1.125rem;
}

.info {
  padding-right: 5px;
}

.img-convert {
  width: 14px;
  height: 14px;
}

.news {
  height: 142px;
  background: #12141a;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.news-container {
  width: 311px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 311px;
  height: 58px;
}

.description-news {
  width: 237px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.description-news > h3 {
  font-size: 1rem;
  font-weight: 700;
}

.description-news > p {
  font-size: 0.75rem;
  font-weight: 400;
}

.menu-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: var(--black);
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 56px;
}

.button-footer {
  background: none;
  border: none;
  cursor: pointer;
}

.button-menu {
  position: relative;
  bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.menu {
  position: fixed;
  bottom: 88px;
  justify-content: center;
  display: none;
  opacity: 0;
  transition: 0.5s ease;
}

.flex-menu {
  transition: 0.5s;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #23262d;
  border-radius: 16px;
  gap: 16px;
}

.button-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-menu {
  background: none;
  border: none;
}

.button-menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.subtitle-button {
  font-size: 10px;
}

.button-container.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  max-width: 100%;
}

.button-container.down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
}

.menu.active {
  display: block;
  opacity: 1;
}
