:root {
    --background-gradient: linear-gradient(90deg, rgba(23,42,45,1) 20%, rgba(24,39,43,1) 35%, rgba(25,28,36,1) 100%);
    --background-solid: #191C24;
    --black: #12141A;
    --black80: #12141ACC;
    --lightgreen: #04C88F;
    --buttongrey: #454B5866;
    --white: #FFFFFF;
    --whitw80: #ffffffcc;
    --white60: #FFFFFF99;
    --border-color: #454B5866;

    --titillium: "Titillium Web", sans-serif;
    --popins: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    background-color: #1e1e1e00;
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #46464600;
    border-radius: 0px;
  }