* {
    color: var(--white);
    font-family: var(--titillium);
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.containeer {
    padding-bottom: 24px; 
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 812px;
    max-height: 100vh;
    max-width: 100vw;
    padding-left: 16px;
    padding-right: 16px;
}

.headeer {
    max-width: 100%;
    width: 375px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    height: 40px;
    width: 40px;
}

.search {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bell-button {
    background: none;
    border: 0;
}

.home-wallet {
    max-width: 100%;
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-title {
    font-size: 1.625rem;
    font-weight: 700;
    padding-bottom: 5px;
}

.wallet {
    background-image: url('../img/Card.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    max-width: 100%;
    width: 375px;
    height: 192px;
    padding: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.header-wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-title {
    font-size: .75rem;
    font-weight: 700;
}

.qrcode {
    width: 16px;
}

.main-wallet {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.value {
    font-size: 1.875rem;
    font-weight: 700;
}

.balance {
    font-size: .75rem;
    font-weight: 400;
    color: var(--whitw80);
}

.footer-wallet__container {
    display: flex;
    height: 26px;
    justify-content: space-between;
    align-items: center; 
}

.footer-wallet__home {
    font-size: .75rem;
}

.numbers-wallet {
    font-weight: bold;
}

.p-wallet {
    font-weight: lighter;
}

.percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF33;
    border-radius: 99px;
    padding: 4px 8px;
    font-weight: 700;
    font-size: .75rem;
}

.home-trending {
    height: 162px;
    max-width: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
}

.trending-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.home-trending__content {
    max-width: 100%;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.financial {
    height: 130px;
    margin-right: 16px;
    min-width: 130px;
    background: var(--black80);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.div-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 5px 15px;
}

.img-interprise {
    width: 38px;
    height: 38px;
}

.chart {
    width: 24px;
    height: 22px;
}

.div-name {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 12px 15px 0px 10px;
}

.name-title {
    font-size: .75rem;
    font-weight: 700;
}

.name-paragraph {
    font-size: .75rem;
    font-weight: 400;
}

.div-percentage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.percentage-red {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F31A1A;
}

.percentage-green {
    font-size: 1.5rem;
    font-weight: 700;
    color: #24E086;
}

.image-enterprise {
    width: 38px;
    height: 38px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    max-width: 100%;
}

.portfolio > h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.portfolio-list {
    height: 70px;
    background: #12141ACC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    padding-left: 10px;
    border: 0;
    cursor: pointer;
}

.portfolio-content {
    width: 343px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0 15px;
}

.container-explore {
 text-align: left;
 padding: 15px 15px;
}

.title {
    font-size: .625rem;
    font-weight: 400;
}

.container-explore > p {
    font-size: .875rem;
    font-weight: 700;
}

.arrowRight {
    position: relative;
    top: -29px;
    right: -300px;
}

.home-footer {
    height: 56px;
    width: 393px;
    background-color: #12141A;
    display: flex;
    align-items: center;
}

.menu-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #12141A;
    width: 375px;
    height: 56px;
    bottom: 0;
    position: fixed;
}


.button-footer {
    background: none;
    border: none;
    position: relative;
}

.button-menu {
    bottom: 20px;
}

.menu {
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 343px;
    background-color: var(--black);
}

.button-menu {
    background: none;
    border: none;
}

.button-container.up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    max-width: 100%;

}

.button-container.down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
}