* {
    color: var(--white);
    font-family: var(--titillium);
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--background-solid);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 750px;
    width: 375px;
    border: 1px solid var(--white);
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header > h2 {
    padding-left: 100px;
    font-size: 1.125rem;
    font-weight: 700;
}

.steps {
    margin-top: 25px;
}

.title {
    height: 62px;
    width: 311px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #454B5866;
    border-radius: 8px;
    margin: 25px 0 25px 0;
}

.title > p {
    font-size: 1.625rem;
    font-weight: 400;
}

.container-form {
    height: 76px;
    width: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    border: 1px solid #454B5866;
    padding: 10px;
    margin-bottom: 40px;
}

.label {
    font-size: .625rem;
    font-weight: 400;
    color: #FFFFFF99;
}

.input {
    font-size: .875rem;
    font-weight: 400;
}

.content-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 311px;
    height: 48px;
}

.pre {
    font-size: .75rem;
    font-weight: 400;
    color: #FCD819;
}

.container-numbers {
    height: 252px;
    width: 311px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 50px 0 10px 0;
}

.content {
    width: 311px;
    height: 252px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 101px;
    text-align: center;
    background: #454B5833;
}

.number.cornerLeft {
    border-radius: 16px 0px 0px 0px;
}

.number.cornerRight {
    border-radius: 0px 0px 16px 0px;
}

.number.cornerRightUp {
   border-radius: 0px 16px 0px 0px;
}

.number.cornerLeftDown {
    border-radius: 0px 0px 0px 16px;
}

