* {
    color: var(--white);
    font-family: var(--titillium);
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.sucess-container {
    padding-bottom: 118px; 
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 812px;
    max-height: 100vh;
    max-width: 100vw;
}

.header {
    width: 310px;
    height: 56px;
}

.arrow {
    width: 6px;
    height: 10px;
    margin-bottom: 32px;
}

.steps {
    text-align: center;
}

.sucess-content {
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sucess-content > h2 {
    font-size: 1.625rem;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 32px;
}

.sucess-icon {
    width: 112px;
    height: 112px;
}

.spinner {
    width: 32px;
    height: 32px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* margin-top: 40px; */
}

.paragraph {
    margin-top: 32px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
