.body_create_account {
    background-color: var(--background-solid);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: var(--titillium);
}

.welcome-container {
    text-align: center;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wallet-icon {
    width: 220px;
    height: 220px;
    margin: 24px 0 30px 0;
}

.title {
    font-size: 24px;
}

.paragraph {
    font-size: 1rem;
    font-weight: 400;
}

.button-container {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 16px;
}

@media screen and (min-width: 576px) {
    .wallet-icon {
        width: 220px;
        height: 220px;
        margin: 80px 0 30px 0;
    }

    .paragraph {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px) {
    .wallet-icon {
        width: 350px;
        height: 350px;
        margin: 50px 0 30px 0;
    }

    .paragraph {
        font-size: 1.25rem;
        font-weight: 400;
    }
}

@media screen and (min-width: 992px) {
    .wallet-icon {
        width: 350px;
        height: 350px;
        margin: 50px 0 30px 0;
    }

    .title {
        font-size: 28px;
    }

    .paragraph {
        font-size: 24px;
        font-weight: 400;
    }

    .button-container {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}