
.body_create_account {
    background-color: var(--background-solid);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: var(--titillium);
}

.welcome-container {
    text-align: center;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wallet-icon {
    width: 220px;
    height: 220px;
    margin: 80px 0 30px 0;
}

.content > h1 {
    font-size: 24px;
    margin-bottom: -20px;
}

.content > p {
    font-size: 16px;
    font-weight: 400;
}

.button-container {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 16px;
}