body {
    height: 100vh;
}

.header {
    width: 375px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    margin-top: 30px;
}

.bell-button {
    background: none;
    border: 0;
}

.footer-card__home {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 15px;
    font-size: .75rem;
}

.numbers-card {
    font-weight: 700;
}

.p-card {
    font-weight: 400;
}

.percentage {
    position: relative;
    top: -33px;
    right: -290px;
    font-weight: 700;
    font-size: .75rem;
}

.portfolio {
    height: 188px;
    width: 343px;
    display: flex;
    flex-direction: column;
}

.portfolio > div {
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-list {
    height: 70px;
    background: #12141ACC;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    padding-left: 10px;
    border: 0;
    cursor: pointer;
}

.portfolio-content {
    width: 343px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0 15px;
}

.img-interprise {
    width: 38px;
    height: 38px;
}

.eth-btc {
    font-size: 1.125rem;
    font-weight: 700;
}

.value-eth {
    color:#24E086;
    font-size: .875rem;
    font-weight: 700;
}

.cripto-decrease {
    font-size: .875rem;
    font-weight: 700;
    margin-left: 35px;
}

.dropdown {
    height: 70px;
    width: 372px;
    margin-top: -35px;
    background-color: #12141A;
    border-radius: 0 0px 18px 18px;
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    width: 340px;
    border-radius: 18px;
    margin-top: -130px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 16px;
}

.dropdown-item {
    margin-bottom: -15px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    border: none;
    justify-content: space-between;
    background: none;
}

.menu-button {
    display: flex;
    width: 343px;
    height: 88px;
    justify-content: space-around;
    margin: -40px 0 0 15px;
    background: #12141A;
    border-radius: 16px;
}

.menu-button > div {
    border-radius: 16px;
    font-size: .625rem;
    font-weight: 700;
    display: flex;
    width: 47.8px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-button {
    width: 40px;
    height: 40px;
}

.img-button.send {
    cursor: pointer;
}